html,
body {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
}

body {
    background-color: black;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
}

nav,
main,
.work,
footer {
    width: 100vw;
    margin: 0;
    flex: none;
    scroll-snap-align: start;
}

/* -----------font---------- */

h1 {
    font-size: 6em;
    margin: 0;
    text-shadow: 1px 0 0 rgb(209, 209, 209),0 1px 0 rgb(254, 255, 190), -1px 0 0 rgb(209, 209, 209), 0 -1px 0 rgb(209, 209, 209);
}

h2 {
    font-size: 2em;
    margin: 1px;
    text-shadow: 1px 0 0 rgb(209, 209, 209),0 1px 0 rgb(254, 255, 190), -1px 0 0 rgb(209, 209, 209), 0 -1px 0 rgb(209, 209, 209);
}

h3 {
    font-size: 1.5em;
    margin: 1px;
    color: rgb(179, 179, 179);
    text-decoration: none;
}

h4 {
    font-size: .75em;
    margin: 1px;
    color: rgb(179, 179, 179);
    text-decoration: none;
}

.work .fab,
.work .fas {
    color: white;
    font-size: .2em;
}

footer .fab,
footer .fas {
    color: white;
    font-size: 2em;
}

i.fa-arrow-right {
    font-size: .75em;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 20vh;
    color: white;
}

i.fa-arrow-down {
    font-size: 4em;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 20vh;
    color: white;
    border: 1px solid red;
    border-radius: 0.1em;
    padding: 0.2em;
}

/* -----------navigation---------- */

nav {
    display: flex;
    height: 5%;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

/* -----------home page---------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 /* -----------projects---------- */

.work {
    width: 100vw;
    overflow-y: scroll;
    align-content: center;
}

.project {
    height: 25vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    border-radius: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.project:nth-child(even) {
    justify-content: right;
    flex-direction: row-reverse;
}

.wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.projects_links {
    display: flex;
    align-content:space-between;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;
}

.red {
    color: rgb(255, 0, 0);
    text-shadow: none;
}

/* -----------footer---------- */

footer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.social a:hover {
    transition: 0.2ms;
    transform: translateY(5px);
}

/* -----------image splitting---------- */

.img_split {
    width: 7%;
    background-image: url('https://picsum.photos/200.jpg');
    margin: 5px;
    opacity: 0;
}

.img_split:nth-child(1) {
    background-position: 0;
    height:50%;
}

.img_split:nth-child(2) {
    background-position: 25%;
    height: 60%;
}

.img_split:nth-child(3) {
    background-position: 50%;
    height: 70%;
}

.img_split:nth-child(4) {
    background-position: 75%;
    height: 60%;
}

.img_split:nth-child(5) {
    background-position: 100%;
    height: 50%
}

.appear {
    opacity: 1;
    transition: 400ms ease-in;
}

/* -----------media-----------*/
@media screen and (min-width:675px) {
    html,
    body {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
    
    body {
        background-color: black;
        color: rgb(0, 0, 0);
        font-family: 'Roboto', sans-serif;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }
    
    nav,
    main,
    .work,
    footer {
        width: 100vw;
        margin: 0;
        scroll-snap-align: start;
    }

    main {
        height: 100vh;
    }

    footer {
        height: 30vh;
    }
}