html {
   scroll-behavior: smooth; 
}

body {
    background-color: black;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

    nav,
    main,
    .work,
    footer {
        width: 100vw;
        margin: 0;
        scroll-snap-align: start;
    }

    main {
        height: 100vh;
    }

    footer {
        height: 30vh;
    }

/* -----------font---------- */

h1 {
    font-size: 6em;
    margin: 0;
    text-shadow: 1px 0 0 rgb(209, 209, 209),0 1px 0 rgb(254, 255, 190), -1px 0 0 rgb(209, 209, 209), 0 -1px 0 rgb(209, 209, 209);
}

h2 {
    font-size: 2em;
    margin: 1px;
    text-shadow: 1px 0 0 rgb(209, 209, 209),0 1px 0 rgb(254, 255, 190), -1px 0 0 rgb(209, 209, 209), 0 -1px 0 rgb(209, 209, 209);
}

h3 {
    font-size: 1.5em;
    margin: 1px;
    color: rgb(179, 179, 179);
    text-decoration: none;
}

h4 {
    font-size: 1em;
    margin: 1px;
    color: rgb(179, 179, 179);
    text-decoration: none;
}

.red {
    color: rgb(255, 0, 0);
    text-shadow: none;
    font-weight: 800;
}

.work .fab,
.work .fas {
    color: white;
    font-size: .2em;
}

footer .fab,
footer .fas {
    color: white;
    font-size: 2em;
}

i.fa-arrow-down {
    font-size: 2em;
    position: static;
    top: 20vh;
    color: white;
    padding: 0.2em;
}

/* -----------navigation---------- */

nav {
    display: flex;
    height: 5%;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

button {
    background-color: black;
    border: none;
}

/* -----------home page---------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 /* -----------about---------- */

 .about {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }

 .about-container {
    width: 50%;
    margin: 10px;
 }

 /* -----------projects---------- */

.work {
    width: 100vw;
    overflow-y: scroll;
    align-content: center;
}


.project {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    
}

.project-title{
    display: flex;
    justify-content:center;
}

.project:nth-child(even) {
    justify-content: right;
    flex-direction: row-reverse;
}

.wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.projects_links {
    display: flex;
    align-content:space-between;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;
}

.projects_links h4,
.fab.fa-github,
.fas.fa-laptop {
    font-size: 1.2em;
    margin: 5px;
}


/* -----------footer---------- */

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.social a:hover {
    transition: 0.2ms;
    transform: translateY(5px);
}


/* -----------image splitting---------- */

.img-box {
   height: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_split {
    width: 20%;
    background-image: url('https://picsum.photos/400.jpg');
    margin: 6px;
    display: none;
}

.img_split:nth-child(1) {
    background-position: 0;
    height:50%;
}

.img_split:nth-child(2) {
    background-position: 25%;
    height: 55%;
}

.img_split:nth-child(3) {
    background-position: 50%;
    height: 60%;
}

.img_split:nth-child(4) {
    background-position: 75%;
    height: 55%;
}

.img_split:nth-child(5) {
    background-position: 100%;
    height: 50%;
}

.appear {
    display: block;
    opacity: 1;
    
    transition: 400ms ease-in;
}

/* animated line*/

svg {
    height: 50vh;
    width: 50vw;
    display: none;
}

.path {
    display: block;
    stroke-dasharray: 50000;
    stroke-dashoffset: 50000;
    animation: dash 6s linear forwards;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
/*-----------media-----------*/
 @media screen and (min-width:675px) {
 }